<h1>I am present in Home Controller</h1>
<div class="block">
	block
	</diV>
	<%=link_to "hide","#", class: "hide"%>
	<%=link_to "show","#", class: "show"%>
	<br>
	<%=link_to "hide-js","#", class: "hide-jquery-function"%>
	<%=link_to "show-js","#", class: "show-jquery-function"%>

	<%=link_to "+","#", class: "toggle"%>

	<div class="animation-complete">
	complete
	</div>




	